<h1><%= link_to(@technology, technology_path(@technology)) %> >> <%= link_to(@category, category_path(@technology, @category)) %> >> <%= @repository.name %></h1>

<ul>
  <li><b>Name:</b> <%= @repository.name %></li>
  <li><b>Full Name:</b> <%= @repository.full_name %></li>
  <li><b>Technology:</b> <%= @repository.technology %></li>
  <li><b>Category:</b> <%= @repository.category %></li>
</ul>
